{:deps true

 ; :source-paths ["src" "test"]

 :dev-http {8888 ["build" "public" "build/test"]}

 :nrepl {:write-port-file true}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:app {:entries [strucon.app]
                        :init-fn strucon.app/main}}
        :devtools {:reload-strategy :full
                   :preloads [devtools.preload
                              strucon.dev]}}

  :test {:target :browser-test
         :test-dir "build/test"}

  :node-test {:target :node-test
              :output-to "target/node-tests.js"}

  :ci {:target :karma
       :output-to "target/ci.js"
       :compiler-options {:optimizations :simple
                          :source-map true}}}}
